.container{
margin:auto; 
padding:0;
width:80%;
}
header {
display: table;
width:100%;
}
.lrglogo {
background-image: url("../images/logo.png");
width:70%;
min-height: 100px;
background-repeat: no-repeat;
background-position: 0% 0%;
background-size: cover;
padding:10px;
}
.smlogo {
font-family:'Ravi Prakash', cursive;
font-size: large;
font-weight: lighter;
color:#FFFFFF
}
.logo {
width: 15%;
display: inline-table;
background-color: #000000;
}
nav {
width: 70%;
display: inline-table;
vertical-align: middle;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navigation {
margin:10px
}
.container header nav a {
	text-decoration:none;
}
.container header nav a:link{
	color:#d2d2d2;
}
.container header nav a:hover{
	color: #4ddcff;
}
.container header nav a:visited {
	color: #ffffff;
}
.section{
font-family:"Gill Sans", Helvetica, Arial, sans-serif;
color: #FFFFFF;
}
.section3{
font-family:"Gill Sans", Helvetica, Arial, sans-serif;
color: #FFFFFF;
text-align: center;
}
.container2{
text-align: center;
width:100%;
}
#list {
font-family:"Gill Sans", Helvetica, Arial, sans-serif;
color: #FF0000;
background-color: #000000;
margin: 0 auto;
display: block;
width:30%;
text-align: left;
}
#list2 {
font-family:"Gill Sans", Helvetica, Arial, sans-serif;
color: #FF0000;
background-color: #000000;
margin: 0 auto;
display: block;
width:15%;
text-align: left;
}
ol {
list-style-position: outside;
}
#para1:first-letter {
font-family:'Ravi Prakash', cursive;
font-size:300%;
color:#e6e600;
}
#para2:first-letter{
font-family:'Ravi Prakash', cursive;
font-size:300%;
color:#e6e600;
width:60%;
}
.snow {
width: 100%;
min-height: 450px;
background-size: cover;
background-image: url(../images/snow.jpeg);
background-repeat: no-repeat;
background-position: 0% 0%;
}
.thegrove{
width: 100%;
min-height: 450px;
background-size: cover;
background-image: url(../images/thegrove.jpg);
background-repeat: no-repeat;
background-position: 0% 0%;
}
.map-completion {
width: 1200px;
min-height: 600px;
background-size: cover;
background-image: url(../images/map-completion.jpg);
background-repeat: no-repeat;
background-position: 0% 0%;
margin: 0 auto;
}
.engineer {
width: 40%;
min-height: 400px;
background-size: cover;
background-image: url(../images/engineer.jpg);
background-repeat: no-repeat;
background-position: 0% 0%;
float: left;
}
.barbie {
width: 23%;
min-height:450px;
background-image: url(../images/barbie.jpeg);
background-repeat: no-repeat;
background-position: 0% 0%;
font-family:'Ravi Prakash', cursive;
text-align: left;
margin-left: 0%;
margin-right: auto;
float: left;
}
.lightblade {
width:29%;
min-height:450px;
background-image: url(../images/lightblade.jpg);
background-repeat: no-repeat;
background-position: 0% 0%;
font-family:'Ravi Prakash', cursive;
text-align: left;
margin-left: auto;
margin-right: auto;
float: left;
}
.aralorna {
width: 20%;
min-height:450px;
background-image: url(../images/aralorna.jpeg);
background-repeat: no-repeat;
background-position: 0% 0%;
font-family:'Ravi Prakash', cursive;
text-align: left;
margin-left: auto;
margin-right: auto;
float: left;
}
.mini {
width:23%;
min-height:450px;
background-image: url(../images/mini.jpg);
background-repeat: no-repeat;
background-position: 0% 0%;
font-family:'Ravi Prakash', cursive;
text-align: left;
margin-left: auto;
margin-right: auto;
float: left;
}
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
body{
	height:100%;
	background-color:#ffffff;
	margin: 0;
	padding:0;
	/*Safari 4-5, Chrome 1-9*/
	background: -webkit-gradient(linear,0% 0%, 0% 200%, from(#000000), to(#FF0000));
	/*Safari 5.1, Chrome 10+ */
	background:-webkit-linear-gradient(top, #000000),(#FF0000);
	/*Firefox 3.6*/
	background: -moz-linear-gradient(top, #000000),(#FF0000);
	/* IE 10 */
	background: -ms-linear-gradient(top, #000000),(#FF0000);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #000000), (#FF0000);
}
h1{
font-family:'Ravi Prakash', cursive;
color:#FFFFFF;
}
table {
	width:100%;
	float: center;
}
table, th, td {
    border: 5px solid black;
	border-collapse: collapse;
	text-align: center;
}
th, td {
	padding: 15px;
}
